<ol>
    <%unless @cat.webmarks.empty? %>
        <%@cat.webmarks.each do |ca|%>
            <li id='cat-<%=ca.id%>'>
                <%= ca.url  %>
                <%= ca.type.name %>
            </li>    
        <%end%>
    <%end%>
</ol>
<%= link_to 'Nuevo', webmarks_path %>
<div id="nuevo"></div>